<main>

    <div class="container body-content">
        <div class="row">
            <div class="col-md-4" th:each="category : ${categories}">
                <header>
                    <h2>
                        <img class="img-circle" th:src="@{/images/categories/{picture}(picture=${category.picture})}" height="43" width="43"/>
                        <a th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name + ' (' + #sets.size(category.articles) + ')'}">
                        </a>
                    </h2>

                </header>

            </div>
        </div>
    </div>
    <br/>
    <aside>
        <h2>Recent Articles</h2>
        <a href="#" th:each="p : ${latest5Articles}" th:text="${p.title}"
           th:href="@{/article/{id}/(id=${p.id})}">HTML5.1</a>
    </aside>
</main>
<!--javascript hit counter-->
<div class="text-info" style='margin-right: auto; margin-left: auto;text-align: center'>
    <script th:src="@{/scripts/hitcounter.js}"></script>
</div>