<main>
    <div class="container body-content">
        <div class="well">
            <h2>All Users</h2>
            <div class="row">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Photo</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="user : ${users}">
                        <tr th:class="${user.isAdmin() ? 'info' : null}">
                        <td th:text="${userStat.count}"></td>
                        <td> <img class="img-circle" th:src="@{/images/users/{picture}(picture=${user.picture})}" height="43" width="43"/></td>
                        <td th:text="${user.fullName}"></td>
                        <td th:text="${user.email}"></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="alert-success"><a th:href="@{/profile/{id}(id=${user.id})}">Profile</a></li>
                                    <li class="alert-warning"> <a th:href="@{/admin/users/edit/{id}(id=${user.id})}">Edit</a></li>
                                    <li class="alert-danger"><a th:href="@{/admin/users/delete/{id}(id=${user.id})}">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </th:block>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>


<!--<a th:href="@{/profile/{id}(id=${user.id})}">Profile</a>-->
<!--<a th:href="@{/admin/users/edit/{id}(id=${user.id})}">Edit</a>-->
<!--<a th:href="@{/admin/users/delete/{id}(id=${user.id})}">Delete</a>-->