<main>
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                <table >
                    <td><img class="img-rounded" th:src="@{/images/users/{picture}(picture=${user.picture})}" width="100" height="100"/></td>
                    <td width="300">
                        <p>
                            <label class="col-sm-5 control-label" >Email:</label>
                            <span th:text="${user.email}"></span>
                        </p>
                        <p>
                            <label class="col-sm-5 control-label" >Full name:</label>

                            <span th:text="${user.fullName}"></span>
                        </p>
                        <p>
                            <label class="col-sm-5 control-label" >User Roles:</label>

                            <span th:each="role : ${user.getRoles()}">
                                <text th:text="${role.getName()}"/>
                            </span>
                        </p>
                    </td>
                </table>
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#article">User Articles: <span class="caret"></span></button>
        <div id="article" class="collapse">
            <th:block th:each="article : ${user.articles}">
                <div class="col-md-3">
                    <br/>
                    <article>
                        <p>
                            <a th:href="@{/article/{id}(id=${article.id})}">
                                <text th:text="${article.title}"></text>
                            </a>
                        </p>
                        <span>Author: </span>
                        <a th:href="@{/profile/{id}(id=${article.author.id})}"><span class="author" th:text="${article.author.fullName}"></span></a>
                        <p>
                            <span>Category: </span>
                            <a th:href="@{/category/{id}(id=${article.category.id})}" th:text="${article.category.name}"></a>
                        </p>
                        <p>
                            <span>Tags: </span>
                            <a class="btn btn-default btn-xs" th:each="tag:${article.tags}" th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                        </p>
                    </article>
                </div>
            </th:block>
        </div>
    </div>
    <br/>
    <div class="container">
        <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#comment">User Comments: <span class="caret"></span></button>
        <div id="comment" class="collapse">
            <th:block th:each="comment : ${user.comments}">
                <div class="col-md-3">
                    <br/>
                    <article>
                        <p>
                            <b>Comment: </b>
                            <text style="color:saddlebrown;" th:text="${comment.summary}"></text>
                        </p>
                        <p>
                            <b>Article: </b>
                            <a th:href="@{/article/{id}(id=${comment.article.id})}" th:text="${comment.article.title}"></a>
                        </p>
                        <p>
                            <text style="color:yellowgreen;" th:text="${comment.date}"></text>
                        </p>

                    </article>
                </div>
            </th:block>
        </div>
    </div>
    <br/>
    <footer>
        <div class="container" align="left">
            <a class="btn btn-default" th:href="@{/admin/users/}">Back &raquo;</a>
        </div>
    </footer>
</main>