<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/comment/create/{id}(id=${article.id})}" method="POST">
                <fieldset>
                    <legend>New Comment</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_comment">Comment</label>
                        <div class="col-sm-4 ">
                            <textarea maxlength="210" class="form-control" rows="7" id="article_comment" name="commentString" th:inline="text" required="required"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}">Cancel</a>
                            <input type="submit" class="btn btn-primary" value="Submit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
