<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/article/create}" th:object="${articleBindingModel}" method="post" enctype="multipart/form-data"  >
                <div class="alert alert-danger" th:if="${error}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong th:text="${error}"></strong>
                </div>
                <fieldset>
                    <legend>New Article</legend>

                    <div class="form-group" >
                        <label class="col-sm-4 control-label" for="title">Article Title</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="title" placeholder="Article Title" name="title" th:value="*{title}" required="required"/>
                            <span class="formError" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Invalid username</span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Content</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="article_content" name="content" required="required"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_category">Category</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="article_category" name="categoryId">
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_tags">Tags</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="article_tags" placeholder="Tags" name="tagString" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                    <label class="col-sm-4 control-label" for="video">YouTube Video URL</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="video" placeholder="Place video URL here..." name="video" />
                        <text class="text-muted">To embed video with start time use seconds for start.<br/> Example: https://youtu.be/s39mNwFuQDQ?t=212 </text>
                    </div>
                </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_picture">Add an Image</label>
                        <div class="col-sm-4 ">
                            <input  type="file"  id="user_picture" name="picture"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}">Cancel</a>
                            <input type="submit" class="btn btn-primary" value="Submit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>