<main>
    <div class="container body-content">
        <div class="alert alert-info" th:if="${errors}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong th:text="${errors}"></strong>
        </div>
        <div class="row">
            <div class="col-md-12">

                <article>
                    <header>
                        <h2 th:text="${article.title}"></h2>
                    </header>

                    <p th:text="${article.content}"> </p>

                    <small class="author" th:text="${article.author.fullName}"></small>
                    <img class="img-circle" th:src="@{/images/users/{authorpic}(authorpic=${article.author.picture})}" height="30" width="30"/>
                    <p><small> </small></p>
                    <text>Category: </text>
                    <a th:text="${article.category.name}"></a>
                    <br> </br>

                    <img class="img-rounded" th:src="@{/images/articles/{picture}(picture=${article.picture})}" height="200"/>
                    <br> </br>
                    <!--this is how ViewBag.Player like option is made in Java with model - much more simple  :-->
                    <div th:if="${article.video!=null}">
                        <!--<iframe width="560" height="315" th:src="@{https://www.youtube.com/embed/{url} (url=${article.video})}" frameborder="0" alt="no video attached" allowfullscreen="0"></iframe>-->
                        <iframe width="560" height="315" th:src="@{https://www.youtube.com/embed/{url}(url=${article.video}, start=${article.videoLink})}" frameborder="0" alt="no video attached" allowfullscreen="1"></iframe>
                    </div>
                    <!--<iframe width="560" height="315" th:src="@{{url} (url=${article.videoLink})}" frameborder="0" alt="no video attached" allowfullscreen="1"></iframe>-->
                    <!--<iframe width="560" height="315" th:src="@{https://www.youtube.com/embed/s39mNwFuQDQ?start=208}" frameborder="0" alt="no video attached" allowfullscreen="1"></iframe>-->
                    <footer>

                        <div class="pull-right">
                            <th:block sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(article)}">
                                <a class="btn btn-success btn-sm" th:href="@{/article/edit/{id}(id = ${article.id})}">Edit</a>
                                <a class="btn btn-danger btn-sm" th:href="@{/article/delete/{id}(id = ${article.id})}">Delete</a>
                            </th:block>
                            <th:block sec:authorize="isAuthenticated()">
                                <a class="btn btn-primary btn-sm" th:href="@{/comment/create/{id}(id = ${article.id})}">Comment</a>
                            </th:block>
                            <a class="btn btn-default btn-sm" th:href="@{/}">Back &raquo;</a>
                        </div>
                        <br>
                        <table>
                            <td>
                                <p>
                                    <a th:href="@{/article/{id}/like(id=${article.id})}"><img class="hidden-md hidden-xs"  th:src="@{/images/common/like.jpg}" width="49"  /></a>
                                    <span th:text="${article.articleLikes}"></span>
                                </p>
                            </td>
                            <td>
                            <td width="20" height="70" style="border-collapse: separate; padding-left: 20px;padding-right: 20px; vertical-align: top">
                                <div class="vertical-line" >
                                    <p></p>
                                </div>
                            </td>
                            </td>
                            <td>
                                <p>
                                    <a th:href="@{/article/{id}/dislike(id=${article.id})}"><img class="hidden-md hidden-xs"  th:src="@{/images/common/dislike.jpg}" width="49"  /></a>
                                    <span th:text="${article.articleDislikes}"></span>
                                </p>
                            </td>
                        </table>
                        <h3><p class="text-success">Comments:</p></h3>
                        <th:block th:each="comment : ${comments}">
                            <blockquote class="blockquote">
                                <p>
                                    <a>&quot;</a><a th:text="${comment.text}"></a><a>&quot;</a>
                                </p>
                                <b><h5><strong><cite title="Source Title" th:text="${comment.user.fullName}"></cite></strong></h5></b><a>  </a><small th:text="${comment.date}"></small>
                            </blockquote>
                        </th:block>
                        </br>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</main>