<head th:fragment="head">
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="../blog.ico" th:href="@{/images/common/blog.ico}" />
    <!--Normally you would add it here:-->
    <!--<script src="/scripts/blog-scripts.js" th:src="@{/scripts/blog-scripts.js}"></script>-->
    <!--<script src="../static/scripts/blog-scripts.js" th:src="@{../static/scripts/blog-scripts.js}"></script>-->
</head>
